html, body, div, p, input, form{
    margin: 0;
}

.form{
    height: 32em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    background-color: rgba(0, 255, 255, .3);
}

.txt{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.input{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;
}